.heading-font{
   padding-left: 30px;
  font-size: 40px;;
}

p{
    padding-left: 30px;
    margin: 0%;
    padding-right: 30px;
    font-size: 25px;
    margin-bottom: 20px;
}
h2{
    padding-left: 30px;
}