
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
   padding: 0px;
   margin: 0%;
}
body{
    background-color: rgb(253, 245, 234);
    width: 100%;
}
.about-bg{
    background-image: url("../images/aboutpage/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-text{
    margin-top: 50px;
    padding: 30px;
    font-size: 50px;
    color: rgb(32, 32, 32);
    background-color: rgba(226, 222, 222, 0.7);
    border-radius: 10px;
    font-weight: 700;
}
.heading-font{
  padding-left: 40px;
  font-size: 30px;
  font-family: "Merriweather", serif;
  font-weight: bolder;
}

.about-paragraph{
    padding-left: 40px;
    margin: 0%;
    padding-right: 40px;
    font-size: 19px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    
}
h2{
    padding-left: 30px;
}
.heading-name{
    padding-left: 40px;
    font-family: "Merriweather", serif;
    margin: 20px 0px 10px 0px;
    font-size: 40px;
    padding-bottom: 10px;
}
.mission,.team,.history{
    background: rgb(251, 245, 238);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px  7px 5px rgba(0, 0, 0, 0.1);
    margin: 30px 80px;
}
.hidden{
    display: none;
}
.missionbtn ,.team-button,.history-button{
    margin-left: 30px;
    padding: 7px 10px;
    border-radius: 20px;
    border:none;
    color: #fff;
    background-color: black;
    margin-left:40px;
    margin-top:10px;
    margin-bottom: 10px;
    text-decoration: none;
}
.team-button:hover{
  transition: 2s;
  cursor: pointer;
  text-decoration: underline;
  padding: 10px 15px;
  color: rgb(207, 92, 92);
}
.missionbtn:hover{
  transition: 2s;
  cursor: pointer;
  text-decoration: underline;
  padding: 10px 15px;
  color: rgb(207, 92, 92);;
}
.history-button:hover{
    transition: 2s;
    cursor: pointer;
    text-decoration: underline;
    padding: 10px 15px;
    color: rgb(207, 92, 92);
}
.about-main{
    width: 100%;
    height: 400px;
}
.about-paragraph{
    text-align: justify;
}
.red-color{
    color: rgb(196, 60, 60);
}
.red-color:hover{
    text-decoration: underline;
}
.mission-font,.team-member{
    font-size:19px;
    font-family: "Montserrat", sans-serif;
    padding:0 40px 0 40px;
    
}
.team-member-card{
    width: 190px;
    background-color:rgb(249, 236, 222);
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    font-family: "Montserrat", sans-serif; 
    text-align: center;
    align-items: center;

}
.team-member-card:hover{
    box-shadow: 0 0 10px 2px  rgba(0, 0, 0, 0.1);
    transition: 2s;
}
.team-member-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

}
.btn{
    width: 70px;
    height: 60px;
    border-radius: 50%;
    padding: 0px;
    margin-bottom: 20px;
    background-color:rgb(46, 44, 44);
    border: none;
    color: #fff;
}
.history ul{
    font-family: "Montserrat", sans-serif;
} 
ul {
    list-style-type: none;
    padding: 0;
}

.ul-container{
    background:rgb(249, 236, 222);
    margin: 15px 10px; 
    padding: 20px; 
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-left: 5px solid #35424a; 
}

.ul-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.about-information{
    margin: 0px auto;
    width: 90%;
    padding-top: 50px;
}
.sizeicon i{
 margin-left: 7px;
 font-size: 20px;
 margin-top: 10px;
 color: black;
 
}
.margin-space{
    margin-left: 125px;
}
.input-section {
    width: 100%;
    margin:0%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.input-booking {
    background-color:rgb(253, 245, 234);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 500px;
    
}
.label{
    display: block;
    font-weight: 900px;
    padding: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="tel"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color:rgb(249, 236, 222) ;  
}

.input-button {
    background-color:black;
    color:#fff;
    padding: 7px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 30px;
}
.hidden-message {
    display: none;
}
#confirmation-message {
    margin-top: 15px;
    color:black;
}
.close-menu i{
    margin-left:95%;
    color: black;
    font-size:20px;
    margin-bottom: 10px;
}

/* Media Queries */
@media screen and (max-width: 1000px){
    .navbar {
        width: 100%;
        background-color:transparent;
    }
    .logo img{
        height: 40px;
    }
    .menubar{
        color: rgb(207, 92, 92);
        font-size: 25px;
        display: block;
    }
    .nav-list{
        position: fixed;
        top: 0;
        gap: 5px;
        right: 0px;
        background-color: rgba(32, 32, 32, 0.8);
        width: 180px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        visibility: hidden;
    }
    .nav-list-container{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    #close-nav{
        display: block;
        position: fixed;
        right: 5px;
        padding: 10px;
        font-size: 18px;
        color: #fff;
    }
    .nav-item{
        margin-top: 10px;
        padding: 10px;
    }
    .team-member-card{
        width: 220px;
    
    }
    .footer-container{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 800px){
    .about-main{
        margin: 0px auto;
    }
    .footer-container{
        gap: 60px;
        width: 90%;
        padding: 90px 0px 80px 0px;
    }
    .footer-sec img{
        height: 40px;
    }
    .footer-info{
        margin-bottom: 30px;
    }
    .icon-container{
        gap: 20px;
    }
    .icon-container i{
        color: rgb(170, 168, 168);
        font-size: 20px;
    }
    .footer-list{
        gap: 15px;
    }
    .copyright{
        padding: 15px;
    }
    .aboutus p{
        font-size: 85px;
    }
    .about-paragraph{  
        font-size: 20px;
    }
    h2{
        padding-left: 30px;
    }
    .heading-name{
        font-size: 40px;
        
    }
    .missionbtn ,.team-button,.history-button
{   font-size: 20px;

}
.mission-font,.team-member{
    font-size:20px;
    
}

.mission ul{
    font-size:20px;
}
}
 @media screen and (max-width: 450px){
    .aboutus p{
        font-size:40px;
}
footer{
    margin-top: 100px;
    width: 100%;
    height: auto;
    background-color: rgb(32, 32, 32);
}
.footer-container{
    gap: 50px;
    width: 90%;
    padding: 70px 0px 60px 0px;
}
.footer-sec img{
    height: 40px;
    margin-bottom: 20px
}
.footer-info{
    margin-bottom: 25px;
}
.icon-container{
    gap: 20px;
}
.icon-container i{
    font-size: 18px;
}
.footer-heading{
    margin-bottom: 20px;
}
.footer-list{
    gap: 10px;
}
.copyright{
    padding: 10px;
}
.aboutus{
    height: 80px;
    width: 300px;
    
}
.heading-font{
    font-size: 20px;
    
  }
  
  .about-paragraph{
      font-size: 16px;  
  }
  h2{
      padding-left: 30px;
  }
  .heading-name{
    font-size:25px;
    
 }
 .missionbtn ,.team-button,.history-button{
   font-size: 13px;
    
}
.missionbtn ,.team-button,.history-button
{   font-size: 16px;

}
.mission-font,.team-member{
    font-size:16px;
    
}
 }