body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}





          











.basic_info{
    margin-left: 30px auto;
    padding-left: 30px auto;
}



.basic_info_para{
    font-size: 25px;
    margin-top: 30px;
    margin-left: 30px ;
    padding: 50px auto;
    margin-right: 30px;
;
}





.card{
    width: 80%;
    margin: 10px auto;
    height: auto;
    
}
.card .heading{
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
    font-size:50px;
}

.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

}
.card-card{
    height: 300px;
    width: 280px;
   
}
.card-card img{
    width: 280px;
    height: 170px;
    object-fit: cover; 
    border-radius: 10px;
}
.card-card h2{
    margin: 5px 0;
    font-size: 21px;
    color: red;

}

.card-card h2:hover{
text-decoration: underline;  
font-size: 22px;
}

footer{
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: rgb(32, 32, 32);
}
.footer-container{
    display: flex;
    gap: 80px;
    width: 85%;
    margin: 0px auto;
    padding: 120px 0px 100px 0px;
    height: auto;
}
.footer-sec img{
    height: 45px;
    margin-bottom: 25px
}
.footer-info{
    color: rgb(170, 168, 168);
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 35px;
}
.icon-container{
    display: flex;
    gap: 25px;
}
.icon-container i{
    color: rgb(170, 168, 168);
    font-size: 20px;
}
.footer-heading{
    font-size: 17px;
    color: #fff;
    margin-bottom: 30px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-list a{
    text-decoration: none;
    color: rgb(170, 168, 168);
}
.footer-list a:hover{
    text-decoration: underline;
}
.copyright{
    padding: 20px;
    text-align: center;
    color: rgb(170, 168, 168);
}