:root{
    --bg-main: rgb(253, 245, 234);
    --bg-primary: rgb(32, 32, 32);
}
body{
    background-color: var(--bg-main);
    color: var(--bg-primary);
}

:root .dark-mode{
    --bg-main: rgb(32, 32, 32);
    --bg-primary: rgb(253, 245, 234);
}
body .dark-mode{
    background-color: var(--bg-main);
    color: var(--bg-primary);
}
.contact-bg{
    background-image: url("../images/contactPage/contact-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-text{
    margin-top: 50px;
    padding: 30px;
    font-size: 50px;
    color: rgb(32, 32, 32);
    background-color: rgba(226, 222, 222, 0.7);
    border-radius: 10px;
    font-weight: 700;
}
.destination-click{
    left: 152px;
}
.trip-click{
    left: 152px;
}
.container1{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.img-header{
    height: 350px;

}
.img-qr{
    height: 150px;
}
.qr-description{
font-size: 20px;
background-color: #fff;
padding: 5px 20px;
}
.header-text{
    background-color: #fff;
    padding: 5px 20px;
    padding-top: 90px;
    font-size: 25px;
}
body.dark-mode .btn{
    background-color: rgb(253, 245, 234);
    color: rgb(32, 32, 32);
}
.color{
    color: rgb(32, 32, 32);
}
.btn{
    background-color: rgb(57, 47, 47);
    color: white;
    font-size: 24px;
    padding: 10px 30px;
    display: block;
    margin: 20px auto;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    width: 160px;
}
.btn:hover{
    cursor: pointer;

}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:none;
    justify-content: center;
    align-items: center;
}
.model{
    margin-top: 80px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    position: relative;
}
.close-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-top: 20px;
}
.form-input{
    width: 300px;
    margin: 10px 0;
    font-size: 20px;
    padding: 5px 10px;
}
.form-header{
    color:rgb(108, 75, 75);
}
.c1{
    margin-left:550px;
    background-color: #fff;
    border-radius: 20px;
    height: 120px;
     width:290px;
     margin-top: 90px;
    justify-content: center;
    display:block;
    align-items: center;
}
.h1{
    padding: 30px 30px 30px 30px;
    padding-top: 39px;
    padding-left: 57px;
}
.h2{
    margin: 9px;
    
}
.add{
    margin-top: 80px;
}
@media screen and (max-width: 450px){
    .contact-text{
        font-size: 30px;
    }
    
    .form{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-items: center;
        margin-top: 20px;
        width: 250px;
        height: 400px;
    }
    .form-input{
        width: 200px;
        font-size: 16px;
    }
    .c1{
        margin-left:550px;
        background-color: #fff;
        border-radius: 20px;
        height: 120px;
        width:290px;
        margin-top: 90px;
        justify-content: center;
        display:block;
        align-items: center;
    }
    h1{
        padding: 10px;
        margin-left: 20px;
        font-size: 18px;
    }
    .h2{
        margin: 5px 0px; 
        font-family: 17px;
    }
    .close-icon{
        width: 15px;
        height: 15px;
    }
    .btn{
        font-size: 20px;
        margin-top: 60px;
    }
    .add{
        margin-top: 90px;
    }
}