*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(253, 245, 234);
}
.container{
    height: 440px;
    width: 700px;
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    margin-left:27%;
}

.container:hover{
    box-shadow: 0px 0px 10px 3px #cbcbcb;
    border-radius: 15px;
}
.travel-reg{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.slideimg-container{
    height: 440px;
    width: 350px;
    position: relative;
}

.slide-img{
    height: 440px;
    width: 350px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.nextprevious-img{
    height: 30px;
    width: 30px;
}
.next{
    position:absolute;
    right: 10px;
    bottom: 200px;
    cursor: pointer;
}
.prev{
    position:absolute;
    left: 10px;
    bottom: 200px;
    cursor: pointer;
}
.already-account a:hover {
    text-decoration: underline; 
    color: rgb(207, 92, 92);
}
.already-account p {
    margin: 0; 
    margin-right: 5px; 
    font-weight: 400;
}

.already-account a {
    color: rgb(207, 92, 92);
    text-decoration: none; 
    font-weight: 600; 
}
.form-container{
    max-height: 500px;
    width: 410px;
    background-color: #faddcf;
    border-radius: 0 15px 15px 0;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.text-center{
    text-align: center;
}
.font-style{
    font-family:Arial, Helvetica, sans-serif
}
.font-size{
    font-size: 20px;
}
.reg-heading{
    margin-top: 20px;
    font-size: 30px;
    color: #232323;
}  
.input-box{
    width: 90%;
    height: 20px;
    padding: 10px;
    align-items: center;
    border: none;
    background-color:white;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
}

.input-box:hover{
    border: solid 1px #f45d48;
}
.ip-box-citystate{
    width: 100px;
    height: 15px;
    margin-left: 28px;
    margin-top: 15px;
}

.marginfromto{
    margin-top: 5px;
}
.space{
    margin-top:5px;
}
.condition-margin{
    margin: auto 10px;
}
.specify-box{
    margin-top: 15px;
}
.submit-btn{
    width: 95%;
    margin: 10px ;
    padding: 10px;
    background-color: rgb(217, 87, 87);
    color: #232323; 
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}
.submit-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px #db8175;;
}
.flexbox-addname{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Media Queries */
@media screen and (max-width: 1000px){
    .container{
        height: 440px;
        width: 700px;
        margin-left: 15%;
        margin-top: 200px;
}

.slideimg-container{
    width:350px;
}
.slide-img{
    height: 440px;
    width: 350px;
    object-fit: cover;
}
.form-container{
    width: 350px;
}
.input-box{
    width: 280px;
    height: 20px;
}
.ip-box-citystate{
    width:120px;
    height: 15px;
    margin-left:20px;
    margin-top: 15px;
}
}
@media screen and (max-width: 800px){
    .container{
        height: 500px;
        width: 420px;
        margin-left: 22%;
        margin-top: 200px;
}

.slideimg-container{
   display: none;
}
.slide-img{
    display: none;
}
.form-container{
    width: 620px;
}
.input-box{
    width: 280px;
    height: 20px;
}
.ip-box-citystate{
    width:105px;
    height: 15px;
    margin-left:50px;
    margin-top: 15px;
}
.fromto-text{
    margin: auto 53px;
    margin-top: 5px;
}
.que-margin{
    margin-left: 53px;
}
.add-name{
    margin-left:0px;
}
}
@media screen and (max-width: 600px){
    .container{
        height: 450px;
        width: 350px;
        margin-left: 20%;
        margin-top: 200px;
    }       
.reg-heading{
    font-size: 20px;
}
.slideimg-container{
   display: none;
}
.slide-img{
    display: none;
}
.form-container{
    width: 420px;
}
.input-box{
    width: 250px;
    height: 20px;
}
.ip-box-citystate{
    width:100px;
    height: 15px;
    margin-left:30px;
    margin-top: 15px;
}
.fromto-text{
    margin: auto 35px;
    margin-top: 5px;
}
.que-margin{
    margin-left:33px;
}
.add-name{
    margin-left:0px;
}
}

@media screen and (max-width: 450px){
    .container{
        height: 400px;
        width: 310px;
        margin-left: 12%;
        margin-top: 200px;
}
.reg-heading{
    font-size: 20px;
}
.slideimg-container{
   display: none;
}
.slide-img{
    display: none;
}
.form-container{
    width: 420px;
}
.input-box{
    width: 210px;
    height: 15px;
}
.ip-box-citystate{
    width:70px;
    height: 15px;
    margin-left:30px;
    margin-top: 15px;
}
.fromto-text{
    margin: auto 35px;
    margin-top: 5px;
}
.que-margin{
    margin-left:33px;
}
.takename{
    width: 210px;
    height: 30px;
    margin-top: 15px;
}
.add-name{
    margin-left:0px;
}
}
